:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bgColor);

  --bgColor: #242424;
  --mainColor: #142464;
  --searchBox: #344484;
  --infoBox: #5464a4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  font: inherit;
  background-color: var(--infoBox);
  border: transparent 1px solid;
}
input:focus {
  outline: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem 0.6rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo:hover {
  filter: drop-shadow(0 0 0.3rem #fff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

header {
  background-color: var(--mainColor);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-inline: 0.75rem;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--mainColor);
  padding: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

header .container {
  display: flex;
  flex-direction: column;
}

.container h3 {
  flex-shrink: 5;
}

.searchField {
  background-color: var(--searchBox);
  padding: 0.5rem;
}

.infoBox {
  background-color: var(--infoBox);
  display: flex;
  line-height: 1;
}
.infoBox article {
  border: 1px solid var(--bgColor);
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding-inline: 0.3rem;
}

.blink {
  animation: blink-animation 0.5s ease-in-out 0s 5;
  background-color: red;
}

form {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  border: 2px solid #646cff;
  background-color: var(--infoBox);
  border-radius: 0.5rem;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.empty {
  width: 100%;
  text-align: center;
  padding: 4rem;
}

.coordinates,
.minmax {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}
.coordinates p,
.minmax p {
  margin-top: 7px;
  padding-inline: 3px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--searchBox);
}
.minmax p {
  font-size: 0.8rem;
}

.county {
  margin-block-end: 0;
}

article h3 {
  background-color: var(--searchBox);
  padding: 5px;
  border-radius: 5px;
}
